<%= form_with model: @financial_transaction do |form| %>
  <% if @financial_transaction.errors.any? %>
    <div>
      <h2><%= pluralize(@financial_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% @financial_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.datetime_field :date %>
  </div>

  <fieldset>
    <legend>Amount</legend>
    <div>
      <%= form.label :amount, "Value" %>
      <%= form.money_field :amount %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Discount</legend>
    <div>
      <%= form.label :discount, "Value" %>
      <%= form.money_field :discount %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Price</legend>
    <div>
      <%= form.label :price, "Value" %>
      <%= form.money_field :price %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Tax</legend>
    <div>
      <%= form.label :tax, "Value" %>
      <%= form.money_amount :tax %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Total</legend>
    <div>
      <%= form.label :total, "Value" %>
      <%= form.money_field :total %>
    </div>
  </fieldset>

  <div>
    <%= form.submit %>
  </div>
<% end %>
