<%= form_with model: @financial_transaction do |form| %>
  <% if @financial_transaction.errors.any? %>
    <div>
      <h2><%= pluralize(@financial_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% @financial_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.datetime_field :date %>
  </div>

    <div>
      <%= form.label :amount %>
      <%= form.money_field :amount %>
    </div>

    <div>
      <%= form.label :discount %>
      <%= form.money_field :discount %>
    </div>

    <div>
      <%= form.label :price %>
      <%= form.money_field :price %>
    </div>

    <div>
      <%= form.label :tax %>
      <%= form.money_amount :tax %>
    </div>
    <div>
      <%= form.label :total%>
      <%= form.money_field :total %>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
